{{#if (has-block)}}
  {{yield (hash availableFilters=filterPanel.availableFilters)}}
{{else}}
  <div class='container'>
    <div class='row'>
      <div class='col-md-6'>
        <div class='filter-panel-container'>
          <div class='row'>
            <div class='col-md'>
              {{t 'components.filterPanel.label'}} <br>
              {{#each filterPanel.availableFilters as |filter|}}
                {{#each filter.chosenValues as |value|}}
                  <button type='button'
                          class='btn btn-info btn-sm mt-1'
                          data-test-chosen-values
                          onclick={{action 'onRemoveFilter' filter value}}>
                    {{filter.keyLabel}}: {{value}} <span class='badge badge-light'>{{t 'components.filterPanel.remove'}}</span>
                  </button>
                {{/each}}
              {{/each}}
              <div class='mt-1'
                   data-test-available-filters>
                {{#power-select options=filterPanel.availableFilters
                                selected=currentFilter
                                onchange=(action (mut currentFilter))
                                searchEnabled = false as |filter|}}
                  {{filter.keyLabel}}
                {{/power-select}}
              </div>
            </div>
          </div>
          {{#if currentFilter}}
            <div class='row'>
              {{#each currentFilter.inputs as |input|}}
                <div class='mt-1 {{concat 'col-md-' inputColumnSize}}'
                     data-test-filter-input>
                  {{#power-select class='mt-1'
                                  options=input.prompts
                                  oninput=(action (mut input.activeValue))
                                  searchEnabled = (if input.prompts false)
                                  selected=input.activeValue
                                  placeholder='Choose value'
                                  searchPlaceholder='Type value'
                                  onchange=(action (mut input.activeValue)) as |filter|}}
                    {{filter}}
                  {{/power-select}}
                </div>
              {{/each}}
            </div>
            <div class='row col-md'>
              <button class='btn btn-outline-primary mt-1'
                      onclick={{action 'onClickButtonAddFilter' currentFilter}}
                      data-test-add-filter-button>
                {{t 'components.filterPanel.addFilterButton'}}
              </button>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/if}}